* {
  margin: 0;

}

header {
  height: 25%;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: rgba(78, 161, 255, 1);

}

.logo {
  width: 25%;

  border-color: black;
  border-line: solid;
}