header {
  height: 25%;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: rgba(78, 161, 255, 1);

}

.lightgray {
  color: #A8A8A8;
}

.logo {
  width: 25%;

}

.the-booleaner {
  color: #6EBDDE;
}

.mark-up-yellow {
  color: #F2C94C;
}

.color-table {
  background-color: #B1E6F2;
  #1FAAE6
}

.color-main {
  color: white;
  background-color: #1FAAE6;
}